/* .................................................... */
/* sign in form */
/* ..................................................... */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:auto;
}
h1{
    font-family: "poppins";
    font-weight:900 ;
    font-size:4em;
}
.form_container{
    height:auto;
    width:60%;
    padding:50px;
    
}
.ip{
    height:80px;
    font-size: 2em;
}
p{
    font-size: 1.5em;
    margin-top:15px;
}
#button{
    width:80%;
    height: 70px;
}